.centered-element {
  display: block; /* Change from flex to block */
  text-align: center; /* Center align the content */
  height: 100vh;
}

h1 {
  color: #fff;
  font-size: 36px;
  text-shadow: 2px 2px 4px #000;
  display: block; /* Add display: block */
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 4px #888;
  cursor: pointer;
  display: inline-block; /* Add display: inline-block to keep buttons inline */
}

button:hover {
  background-color: #45a049;
}
